body {
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #f5f5f5;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a2a43;
  color: white;
  padding: 15px 40px;
}

.header .logo img {
  height: 50px;
}

.search-bar {
  display: flex;
  gap: 5px;
}

.search-bar input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 250px;
}

.search-bar button {
  background-color: #ff8c00;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
}

/* BANNER */
.banner {
  text-align: center;
  background-color: #e6eef5;
  padding: 80px 20px;
}

.banner h1 {
  font-size: 2.5em;
}

/* PRODUCTOS */
.productos {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.grid-productos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.btn-vermas {
  display: inline-block;
  background-color: #ff8c00; 
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-vermas:hover {
  background-color: #e67800; 
  transform: scale(1.05);
}


/* FORMULARIO */
.contacto {
  background-color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.contacto form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 10px;
}

.contacto input, .contacto textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacto button {
  background: #0a2a43;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background-color: #000;
  text-align: center;
}

.footer img {
  width: 100%;
  height: auto;
  display: block;
}
