body {
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
background-color: #f5f5f5;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a2a43;
  color: white;
  padding: 15px 40px;
}

.header .logo img {
  height: 50px;
}

.search-bar {
  display: flex;
  gap: 5px;
}

.search-bar input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 250px;
}

.search-bar button {
  background-color: #ff8c00;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
}

/* CONTENIDO PRINCIPAL */
.main-content {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.filtros {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.filtros h3 {
  margin-bottom: 15px;
}

.filtros label {
  display: block;
  margin-top: 10px;
}

.filtros input, .filtros select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.filtros button {
  margin-top: 15px;
  width: 100%;
  background-color: #0a2a43;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* PRODUCTOS */
.listado {
  flex: 1;
}

.listado h2 {
  text-align: center;
  margin-bottom: 20px;
}

.grid-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.producto {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.producto a {
  display: inline-block;
  margin-top: 10px;
  background-color: #ff8c00;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
}

/* FOOTER */
.footer {
  background-color: #000;
  text-align: center;
}

.footer img {
  width: 100%;
  height: auto;
  display: block;
}
