// main.scss
@use 'partials/variables' as *;  // Importa las variables
@use 'partials/header' as *;     // Importa los estilos del header
@use 'partials/footer' as *;     // Importa los estilos del footer
@use 'partials/producto' as *;   // Importa los estilos de los productos
@use 'partials/slider' as *;     // Importa los estilos del slider
@use 'partials/auth' as *;
