/* 1. Bootstrap desde node_modules */
@use "../node_modules/bootstrap/scss/bootstrap" as *;

/* 2. Tus estilos */
@use "partials/variables" as *;
@use "partials/header" as *;
@use "partials/footer" as *;
@use "partials/producto" as *;
@use "partials/slider" as *;
