/* ===== HEADER ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: #fff;
  padding: 10px 30px;
}

.logo img {
  width: 60px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

/* --- BUSCADOR MODERNO --- */
.buscador-contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0 40px 0;
}

#buscador {
  width: 60%;
  max-width: 600px;
  padding: 12px 18px;
  font-size: 1rem;
  border: 2px solid #0a6cff;
  border-radius: 30px;
  outline: none;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 89, 255, 0.15);
}

#buscador:focus {
  border-color: #0043b5;
  box-shadow: 0 0 12px rgba(0, 115, 255, 0.35);
}

#buscador::placeholder {
  color: #777;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav a:hover,
.nav a.activo {
  color: #00bcd4;
}