.banner-video {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.banner-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.banner-video .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.banner-texto {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.banner-texto h1 {
  font-size: 3rem;
  margin: 0;
}

.banner-texto p {
  font-size: 1.2rem;
  margin-top: 10px;
}
.productos {
  padding: 40px 20px;
  text-align: center;
  transition: all 0.3s ease;
}

.productos h2 {
  color: #00bcd4;
  font-size: 2rem;
  margin-bottom: 30px;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.producto {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.producto:hover {
  transform: scale(1.03);
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.producto img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.producto h3 {
  color: #00bcd4;
  margin-bottom: 10px;
}

.producto p {
  font-size: 0.95rem;
  color: #00bcd4;
}



/* ===== CONTACTO ===== */
.contacto {
  background-color: #fff;
  padding: 40px;
  margin: 40px auto;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contacto h2 {
  color: #00bcd4;
  margin-bottom: 20px;
}

.contacto form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacto input,
.contacto textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.contacto textarea {
  resize: none;
  height: 120px;
}

.contacto button {
  background-color: #00bcd4;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contacto button:hover {
  background-color: #0097a7;
}
