.slider-promos {
  width: 100%;
  height: 550px;
  overflow: hidden;
  position: relative;
  margin: 40px 0;
}

.slider-track {
  display: flex;
  width: calc(250px * 8);
  animation: scroll-infinite 50s linear infinite;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animación infinita sin saltos */
@keyframes scroll-infinite {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-400%);
  }
}
/* ============ ANIMACIÓN 3============= */

.typing-container {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.typing-line {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #fff;
  width: 0;
  animation: typing 3s steps(30) forwards, blink .7s infinite;
  font-weight: bold;
}

.typing-line.delay {
  animation: typing 3s steps(35) 3s forwards, blink .7s infinite 3s;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  0%, 50% { border-color: #fff; }
  51%, 100% { border-color: transparent; }
}
